<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <appSettings>
 
    <add key="ServerTempFolder" value="C:\ServerTempFolder\" />
    <add key="DocsFolder" value="C:\CTRLQ_Docs\" />
    <add key="XMLFolder" value="C:\Projects\QC V3\TNM-QC-V3\DataServer\PrjSApp\XML\" />
    <add key="ReportServiceServerURL" value="http://ctrlq.tnmgroup.biz:80/ReportServer_SQLEXPRESS/ReportService2010.asmx" />
    <add key="ReportExecutionServerURL" value="http://ctrlq.tnmgroup.biz:80/ReportServer_SQLEXPRESS/ReportExecution2005.asmx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

  </appSettings>
</configuration>
